html,
body {
  margin: 0;
  background-color: #111;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #eee;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  text-transform: uppercase;
}

#board {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  column-gap: 6px;
  row-gap: 6px;
  margin-top: 50px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #666;

  &--empty {
    border-color: #333;
  }
}
